<!-- Author : Vishwas Paikra
    content : Flame Game
    Contact : 8839501504
   language : html/css/javascript
description : I'm currently a student who is trying his best
              to learn every possible productive stuffs around him -->
<!doctype HTML>
<html ng-app="myPoemModule">
<head>
    <title>poem</title>
    <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="theme-color" content="#b8860b" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="js/httpscript.js"></script>
    <link rel="stylesheet" href="style/upload.css">
    <link rel="stylesheet" href="style/style.css" />
</head>
<body ng-controller="myPoemController">
<!-- Menu button    ---------------------------------------------------------------------->
    <div class="navBar" id="navBar1" ng-click="toggle = !toggle" ng-class="{'changeC':toggle}">
        <div class="stick" id="stick1"></div>
        <div class="stick" id="stick2"></div>
        <div class="stick" id="stick3"></div>
    </div>
    <div class="maincontainer">
    <div class="mainMenu" id="mainMenu1" ng-class="{'shi':toggle}">
        <div class="menu" id="uploadMenu" onclick="formclick()" >Upload</div>
<!-- Author menu Author menu Author menu Author menu Author menu Author menu -->
        <div class="menu" id="authorMenu">
         <h1>Poets</h1>
          <form action="#" id="authorSeltn">
           <div ng-repeat="a in poets track by $index">
              <label class="container">
                   <input type="radio" name="poets" ng-click="titleL(a.Id)">
                   <span class="checkmark"></span>
                   <p>{{a.name}}</p><br> 
              </label>
            </div>
          </form>
        </div>
<!-- poems menu poems menu poems menu poems menu poems menu poems menu     -->
        <div class="menu" id="poemsMenu">
         <h1>poems</h1>
          <form action="#" onsubmit="return false">
            <div ng-repeat="t in titles track by $index" id="poemList"> 
               <label class="container">
                    <input type="radio" name="title" ng-value="{{p.Id}}" ng-click="poem(t.Id)">
                    <span class="checkmark"></span>
                    <p>{{t.title}}</p><br>
               </label>
            </div>
          </form>
        </div>  
    </div>
<!--  poem box poem box poem box poem box poem box poem box poem box poem box poem box-->
    <div id="box1" class="box" ng-class="{'changeLeft':toggle}">
           <div ng-repeat="p in poems track by $index">
            <h1 id="poemtitle1" class="poemtitle">
                {{p.title}}
            </h1>
            <p id="content1" class="content poem" ng-repeat="a in p.poem track by $index">
                {{a}}
            </p>
            <p id="autor1" class="author">
                {{p.author}}
            </p>
            </div>
        </div>
    </div>
<!-- upload form ---------------------------------------------------------->
<div class="formBackground" id="formbackground" >
    <div class="formclose" onclick="formclick()">X</div>
  <div class="formContainer">
   <form action="#" method="post" id="uploadForm">
       <label for="inputName">
       <span class="nameClass">Name</span>
       <input type="text" id="inputName" placeholder="Name..."><br>
       </label><br>
       <label for="inputUName">
       <span class="nameClass">User Name</span>
       <input type="text" id="inputUName" placeholder="User-Name..."><br>
       </label><br>
       <label for="inputPoem">
       <span class="namePoem">Poem</span>
        <textarea ng-model="livePoem" name="message" placeholder="Poem..." rows="10" cols="30" id="inputPoem" width="400px" height="500px"></textarea>
       </label><br><br>
       <input type="submit" value="Submit">
    </form>
    <div class="livePoemContainer">
   <div class="livePoem">{{livePoem}}</div>
</div>
</div>  
</div> 
</body>
</html>