<!-- Author : Vishwas Paikra
    content : Flame Game
    Contact : 8839501504
   language : html/css/javascript
description : I'm currently a student who is trying his best
              to learn every possible productive stuffs around him -->
<!doctype HTML>
<html ng-app="myPoemModule">
<head>
    <title>poem</title>
    <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="theme-color" content="#b8860b" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="js/httpscript.js"></script>
    <link rel="stylesheet" href="style/style.css" />
</head>
<body ng-controller="myPoemController">
    <div class="navBar" id="navBar1" ng-click="toggle = !toggle" ng-class="{'changeC':toggle}">
        <div class="stick" id="stick1"></div>
        <div class="stick" id="stick2"></div>
        <div class="stick" id="stick3"></div>
    </div>
    <div class="maincontainer">
    <!-- Author menu Author menu Author menu Author menu Author menu Author menu -->
    <div class="mainMenu" id="mainMenu1" ng-class="{'shi':toggle}">
        <div class="menu" id="authorMenu">
         <h1>Authors</h1>
          <form action="#" id="authorSeltn">
           <div ng-repeat="a in authors track by $index">
              <label class="container">
                   <input type="radio" name="author" ng-click="titleL(a.Id)">
                   <span class="checkmark">{{a.name}}</span> <br> 
              </label>
            </div>
          </form>
        </div>
        <!-- poems menu poems menu poems menu poems menu poems menu poems menu     -->
        <div class="menu" id="poemsMenu">
         <h1>poems</h1>
          <form action="#" onsubmit="return false">
            <div ng-repeat="t in titles track by $index" id="poemList"> 
               <label class="container">
                    <input type="radio" name="title" ng-value="{{p.Id}}" ng-click="poem(t.Id)">
                    <span class="checkmark">{{t.title}}</span> <br>
               </label>
            </div>
          </form>
        </div>
    </div>
    <div id="box1" class="box" ng-class="{'changeLeft':toggle}">
           <div ng-repeat="p in poems track by $index">
            <h1 id="poemtitle1" class="poemtitle">
                {{p.title}}
            </h1>
            <p id="content1" class="content poem" ng-repeat="a in p.poem track by $index">
                {{a}}
            </p>
            <p id="autor1" class="author">
                {{p.author}}
            </p>
            </div>
        </div>
    </div>
</body>
</html>